# Database
POSTGRES_URL=postgresql+asyncpg://postgres:password123@127.0.0.1:5432/fastapi-db
TEST_POSTGRES_URL=postgresql://postgres:password123@127.0.0.1:5431/db-test

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=fastapi-db
POSTGRES_PORT=5432

POSTGRES_TEST_USER=postgres
POSTGRES_TEST_PASSWORD=change-me
POSTGRES_TEST_DB=db-test
POSTGRES_TEST_PORT=5431

JWT_SECRET=fds;kflp0rkefsdfk;ldskfsdfsdf
SECRET_KEY=fldskfjdslfndsfdslkfjdslkfdskfjdsk

# Environment
APP_ENV=development
APP_PORT=8000
DEBUG=1
SHOW_SQL_ALCHEMY_QUERIES=0

# Redis
REDIS_URL=redis://localhost:6379/7

# Celery
CELERY_BROKER_URL=amqp://rabbit:password@localhost:5672
CELERY_BACKEND_URL=redis://localhost:6379/0
REDIS_PORT=6379

RABBITMQ_DEFAULT_USER=rabbit
RABBITMQ_DEFAULT_PASS=change-me
RABBITMQ_DEFAULT_VHOST=/
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

#kavenegar
SECRET_KEY_KAVENEGAR=test





